<form #form="ngForm" (ngSubmit)="submitForm(form)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input required ngModel name="firstName" #firstname="ngModel" (change)="log(firstname)" minlength="4" maxlength="10" pattern="Sarath" id="firstName" type="text" class="form-control"/>
    <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
      <div *ngIf="firstname.errors.required">First Name is required</div>
      <div *ngIf="firstname.errors.minlength">FirstName should be minimum {{firstname.errors.minlength.requiredLength}} length</div>
      <div *ngIf="firstname.errors.maxlength">FirstName should be maximun length</div>
      <div *ngIf="firstname.errors.pattern">FirstName doesn't meet the pattern</div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comments</label>
    <textarea id="comment" ngModel name="comment" #comment="ngModel" class="form-control" ></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribed">Subscribe to Mailing List
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethods">Contact Methods</label>
    <select ngModel name="contactMethods" id="contactMethods" class="form-control">
      <option *ngFor="let method of contactMethods" [value]=" method.id">{{ method.name }}</option>
    </select>
  </div>
  <p>
    {{ form.value | json}}
  </p>
  <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>
